/* src/styles/global.css */
:root {
    --color-primary: #8A2BE2;
    --color-secondary: #FFD700;
    --color-easy: #90EE90;
    --color-medium: #FFD700;
    --color-hard: #FF6B6B;
    --color-background: #b51453;
    --color-text: #333333;
    --color-white: #FFFFFF;
    --border-radius: 20px;
    --margin-app: 15px; /* Margen fijo para todos los lados */
}

@font-face {
    font-family: 'DS-Digital';
    src: url('src/assets/fonts/DS-DIGII.TTF') format('truetype');
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    height: 100vh;
    padding: var(--margin-app);
    overflow: hidden; /* Previene scroll */
}

.app {
    background-color: var(--color-white);
    height: calc(100vh - (var(--margin-app) * 2));
    width: calc(100vw - (var(--margin-app) * 2));
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
    padding: 0;
    overflow-y: auto; /* Permite scroll solo si es necesario */
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding-top: 20px;
    width: 100%;
}

.footer-logo {
    height: 55px; /* Aumentado de 40px */
    object-fit: contain;
}

.footer-logo.alfa {
    height: 65px; /* Aumentado de 50px */
}


.footer-logo[alt="Logo Escuela"] {
    height: 70px;
}

.footer-logo[alt="Logo ALFA"] {
    height: 70px;
}

.footer-logo[alt="Logo Universidad"] {
    height: 70px;
}

.footer img {
    max-width: 100%;
    object-fit: contain;
}

/* Ajustes para el contenido principal */
.question-container {
    margin-bottom: 15px;
}

.timer-container {
    margin: 5px 0;
}

/* Eliminar margen inferior extra del main */
main {
    margin-bottom: 0;
}